{% extends 'base.html' %}

{% block title %}{{ title }} - Sistema de Inventario{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <p>Formulario de cliente - Funciona!</p>
                <a href="{% url 'clients:client_list' %}" class="btn btn-secondary">
                    Volver a Clientes
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}